<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	
	<!-- <bean id="helloDAO" class="kr.co.acomp.hello.dao.HelloDAO">
	</bean>
	
	<bean id="anotherDAO" class="kr.co.acomp.hello.dao.AnotherDAO">
		<property name="helloDAO" ref="helloDAO"></property>
	</bean>
	
	
	<bean id="helloService" class="kr.co.acomp.hello.service.HelloService">
		<constructor-arg ref="helloDAO"></constructor-arg>
		<constructor-arg ref="anotherDAO"></constructor-arg>
	</bean> -->
	
	<!-- <bean id="articleDAO" class="kr.co.acomp.hello.dao.ArticleDAO">
	</bean> -->
	
	<!-- <bean id="bbsService" class="kr.co.acomp.hello.service.BbsService">
		<property name="articleDAO" ref="articleDAO"/>
	</bean> -->
	
	<!-- <context:component-scan base-package="kr.co.acomp.hello"/> -->
	
</beans>
